@import '../../../styles.scss';

nav {
  background-color: $mainColor;
  border: none;
  border-radius: 0;
  max-height: 90px;

  .navbar-nav {
    & > li {
      img {
        max-width: 60px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
      }

      &.logout {
        padding-left: 25px;

        a {
          color: $whiteColor;
          margin-top: 40px;
          cursor: pointer;

          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }

      & > a {
        padding: 0;
      }
    }
    .user-info {
      padding: 13px;
      border-right: 1px solid rgba(255, 255, 255, 0.27);

      h3 {
        margin: 0;
      }
      .user-data {
        display: inline-block;
        vertical-align: middle;
        color: $whiteColor;
      }
    }
  }
  .navbar-brand > {
    img {
      max-width: 200px;
    }
  }
}

.todos {
  position: relative;
  .todo-items {
    background-color: $mainColor;
    color: $whiteColor;

    .todo-header {
      border-bottom: 1px solid $whiteColor;
      padding: 10px;

      h3 {
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 0;
      }
      .btn-add {
        padding: 3px 10px;
        background-color: $whiteColor;
        color: $mainColor;
        font-size: 16px;

        &:hover, &:focus {
          background-color: darken($whiteColor, 10%);
        }
      }
    }

    .todos-list {
      padding: 10px;

      ul {
        padding: 0;

        li {
          list-style: none;
          background-color: $whiteColor;
          color: darken($grayColor, 60%);
          padding: 10px;
          margin-bottom: 5px;
          display: block;

          &.done {
            background-color: darken($grayColor, 5%);
            text-decoration: line-through;
          }
        }
      }
    }
  }
  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    left: 0;
    text-align: center;
    color: #8bc34a;
    padding-top: 100px;
  }
}

.modal {

  .modal-dialog {
    width: 450px;
    margin: 130px auto;
  }

  .modal-content {
    border-radius: 0;
    background-color: $grayColor;
  }

  .form-control {
    background-color: darken($grayColor, 10%);
  }

  .btn {
    text-align: center;
  }
}


